 /* studio */

 .studio{

  position: relative;
  height: 100vh;
  width: 100%;

}
.studio__bcimg{
  height: 100vh;
  width: 100%;
}
.studio__container{
  color: #4f0590;
  position: absolute;
  top: 35%;
  right: 0;
  width: 40vw;

}
/* @media only screen and (max-width: 600px) {
  .studio__bcimg{
    height: auto;
    width: 100%;

  }
  .studio__container{
    color: #4f0590;
    position: absolute;
    width: 100%;
    margin-top: 90px;
    height: 100%;
  }

} */
@media only screen and (min-width:375px )and (max-width:667px) {
  .studio{
    background-color: white;
    position: relative;
    height: 100vh;
    width: 100%;

  }
  .studio__bcimg{
    position: absolute;
    height: auto;
    width: 100%;

  }
  .studio__container{
    color: #4f0590;
    position: absolute;
    width: 100%;
    top: 40%;


}
}
@media only screen and (min-width:769px )and (max-width:1024px){

}
@media only screen and (min-width:1025px )and (max-width:1200px){

}